<p>Hello!</p>
<p>Pardon this message. This portion of my website is still under construction.</p>
<p>While I fix this, I recommend checking my <a href="https://www.linkedin.com/in/gapoorva/">LinkedIn Profile</a> or <a href="https://www.facebook.com/guptaapoorva">Facebook Profile</a> to find info about me, or to contact me.</p>
<p>If you're looking for samples of my work, head over to my <a href="https://github.com/gapoorva">Github Profile</a></p>